{% extends "base.html" %}
{% block content %}

<h1>Dashboard</h1>

<div class="camera-grid">

    {% for cam in cameras %}
    <div class="camera-card"
         onclick="window.location='/camera/{{ cam.id }}'">

        <div class="camera-header">
            <h3>Camera {{ cam.id }}</h3>

            {% if cam.presence %}
                <span class="badge active">Presence</span>
            {% else %}
                <span class="badge idle">Idle</span>
            {% endif %}
        </div>

        <div class="camera-preview">
            <img src="{{ url_for('video', cam_id=cam.id) }}">
        </div>

        <div class="camera-actions">
            <a href="/records/{{ cam.id }}"
               class="secondary"
               onclick="event.stopPropagation();">
                Records
            </a>
            <a href="/snapshot/{{ cam.id }}"
               class="secondary"
               onclick="event.stopPropagation();">
                Snapshot
            </a>

        </div>

    </div>
    {% endfor %}

</div>

{% endblock %}